:root {
    --color-page-bg: #fffded;
    --color-card-bg: #fafafa;
    --color-shadow: rgba(0, 0, 0, 0.12);
    --color-divider: #d3d3d3;
    --color-muted: #505a5a;
    --color-contrast: #fff;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 94vh;
    background: var(--color-page-bg);
}

.card {
    background: var(--color-card-bg);
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 800px;
    min-width: 340px;
    box-shadow: 0 12px 40px 0 var(--color-shadow);
    margin: auto;
    display: flex;

    @media screen and (max-width: 600px) {
        flex-direction: column;
        max-width: 96%;
        min-width: none;
    }

    hr {
        border: none;
        border-top: 1px solid var(--color-divider);
        margin: 1.5rem 0;
    }

    .header {
        display: flex;
        margin: 2rem 0 1rem 0;
        align-items: center;

        h1 {
            font-size: 1.5rem;
            margin: 0;

            small {
                display: block;
                font-size: 1rem;
                margin-bottom: .25rem;
            }
        }

        .avatar {
            margin-right: 1rem;

            img {
                border-radius: 50%;
                max-width: 3rem;
            }
        }
    }

    .attr {
        small {
            display: block;
            font-weight: bold;
            color: var(--color-muted);
            margin-bottom: .25rem;
        }
    }

    .logo {
        max-width: 9rem;
        margin: auto;
        display: flex;
    }

    .col {
        align-content: center;

        &:first-child {
            flex: 1;
            margin-right: 2rem;
            border-right: solid 1px var(--color-divider);
            padding-right: 2rem;

            @media screen and (max-width: 600px) {
                margin-right: 0;
                border-right: none;
                padding-right: 0;
                margin-bottom: 2rem;
                border-bottom: solid 1px var(--color-divider);
                padding-bottom: 1rem;
            }
        }
        .fallback {
            position: relative;                    
            &::after {
                content: '\2713';
                color: var(--color-contrast);
                font-size: 3rem;
                margin-left: 0.35rem;
                position: absolute;
                left: 42%;
                top: -5.5rem;
                opacity: .17;
                background: var(--color-muted);
                border-radius: 300%;
                aattrt-ratio: 1/1;
                height: 4.5rem;
                width: 4.5rem;
                text-align: center;
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;
                @media screen and (max-width: 600px) {
                   display: none;
                }
            }
        }
        &:has(.fallback) {
            @media screen and (min-width: 601px) {
                padding-top: 2rem;
            }
        }
    }
}
